<h1>Edit your business</h1>

<%= form_for @business  do |form| %>

<table>
    <div class="field">
        <tr>
        <td><%= form.label :name %></td>
        <td><%= form.text_field :name %></td>
        <tr>
    </div>

    <div class="field">
        <tr>
        <td><%= form.label :description %></td>
        <td><%= form.text_area :description %></td>
        </tr>
    </div>

    <div class="field">
        <tr>
        <td colspan = "2">
            <%= form.collection_check_boxes :user_ids, User.all, :id, :name %>
        </td>
        </tr>
    </div>

    <div class="actions">
        <tr>
        <td><%= form.submit%></td>
        </tr>
    </div>
</table>
<% end %>
